//
// Layout header
//

.l-header {
  width: 100%;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 1em;
  position: relative;

  &:after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    //background-color: #ddd;
    // background: #FEAC5E;
    // background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
    // background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
    background: #24C6DC;
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);
    background: linear-gradient(to right, #514A9D, #24C6DC);
  }
}

@include getMediaQueryMin('.l-header','sm') {
  padding-left: 2em;
  padding-right: 2em;
}

// PC
@include getMediaQueryMin('.l-header','md') {
  padding-left: 4em;
  padding-right: 4em;
  margin-bottom: 2em;
}
