/*
Module Post Format

Setting post format
Typhography/Link/Image/Table
*/

.post__content {
  margin-bottom: 3em;

  h2 {
    margin: 1em 0;
    padding: .3em 0 .3em .4em;
    border-left: 5px solid #feac5e;
    font-size: 1.7rem;
    line-height: 130%;
  }

  h3 {
    font-size: 1.2rem;
    line-height: 130%;
    margin-bottom: .5em;
    padding-bottom: .4em;
    border-bottom: 3px solid #69d2e7;
  }

  h4 {
    position: relative;
    font-size: 1.1rem;
    padding-left: .7em;

    &:before {
      content: "-";
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  strong {

  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  ul, ol {
    margin: .6em 0 .6em 1.3em;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  blockquote {
    padding: 20px;
    margin: 10px 0;
    font-style: italic;
    font-family: 'Helvetica Neue';
    position: relative;

    &:before, &:after {
      color: rgba(51,51,51,0.1);
      font-size: 120px;
      font-style: normal;
      position: absolute;
    }

    &:before {
      content: '“';
      left: 0;
      top: 48px;
    }

    &:after {
      content: '”';
      right: 0;
      bottom: 5px;
    }
  }

  code {
    padding: .3em .3em;
    margin: 0;
    font-size: 90%;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
    word-break: break-all;
  }

  table {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin-top: 1.5em;

    th, td {
      border: 1px solid #ddd;
      padding: 7px 10px;
    }
  }
}
