/*
Module Post Meta
*/

.post--meta {
  padding: 5px 0;
  margin: 10px 0;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;

  p {
    margin: 0;
  }
}

.post--thumbnail {
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
