/*
Module Notice

Notice to users that the article is more than 1yr has passed since last update
*/

.notice {
  margin-bottom: 40px;
  background: #fffaf3;
  padding: 0 20px;
  border: 1px solid #c9ba9b;
  border-radius: 5px;
  color: #573a08;
}  

